<h1 align="center">Employees Data</h1>

<div class="container">
  <table align="center" border="1" class="table table-hover table-striped table-bordered">

    <thead>
      <tr class="table-primary">
        <th>EmpId</th>
        <th>EmpName</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Gender</th>
        <th>Country</th>
        <th>DOJ</th>
        <th>Mobile</th>
        <th>EmailId</th>
        <th>Experience</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.empId }}</td>
        <td>{{emp.empName | uppercase | gender:emp.gender}}</td>
        <td>{{emp.department.deptName}}</td>
        <td>{{emp.salary | currency:"INR"}}</td>
        <td>{{emp.gender | lowercase}}</td>
        <td>{{emp.country}}</td>
        <td>{{emp.doj}}</td>
        <td>{{emp.mobileNumber}}</td>
        <td>{{emp.emailId}}</td>
        <td>{{emp.doj | exp}}</td>
        <td><button (click)="editEmp(emp)"><i class="fa-solid fa-pen fa-lg"></i></button></td>
        <td><button (click)="deleteEmployee(emp.empId)"><i class="fa-solid fa-trash fa-lg"></i></button></td>
      </tr>
    </tbody>

  </table>
</div>

<div class="modal fade" id="empModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="w-100 text-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Employee</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form>
          <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-id-card fa-lg space"></i></span>
            <select class="form-control custom-input" type="text" name="deptId" [(ngModel)]="empObj.department.deptId">
              <option value="" selected>Select department</option>
              <option *ngFor="let department of departmentList" value="{{department.deptId}}">{{department.deptName}}
              </option>
            </select>
          </div><br>

          <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-pen fa-lg space"></i></span>
            <input class="form-control custom-input" type="text" name="empName" [(ngModel)]="empObj.empName" readonly />
          </div><br>

          <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-indian-rupee-sign fa-lg space"></i></span>
            <input class="form-control custom-input" type="text" name="salary" [(ngModel)]="empObj.salary" />
          </div><br>

          <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-venus-mars fa-lg space"></i></span>
            <input class="form-control custom-input" type="text" name="gender" value="Male" [(ngModel)]="empObj.gender"
              readonly>
          </div><br>

          <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-regular fa-calendar-days fa-lg"></i></span>
            <input class="form-control custom-input" type="date" name="doj" [(ngModel)]="empObj.doj" />
          </div><br>

          <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-globe fa-lg space"></i></span>
            <select class="form-control custom-input" name="country" [(ngModel)]="empObj.country">
              <option value="">Select Country</option>
              <option *ngFor="let county of coutriesList" value="{{county.cca3}}">{{county.name.common}}</option>

            </select>
          </div><br>

          <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-envelope fa-lg space"></i></span>

            <input class="form-control custom-input" type="text" name="emailId" [(ngModel)]="empObj.emailId">
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-phone fa-lg space"></i></span>

            <input class="form-control custom-input" type="text" name="mobile" [(ngModel)]="empObj.mobileNumber" />
          </div>
          <br>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="updateEmploye()">Save changes</button>
      </div>
    </div>
  </div>
</div>