<h2>Welcome {{emilId}}!</h2>

<div align='center' class="container">
    Enter EmployeeID: <input type="text" name="empId" [(ngModel)]="empId" /> <br><br>
    <button (click)="getEmployee()">GetEmployee</button>


    <div *ngIf="emp">
        <table align="center" border="1" class="table table-hover table-striped table-bordered">

            <thead>
                <tr class="table-primary">
                    <th>EmpId</th>
                    <th>EmpName</th>
                    <th>Salary</th>
                    <th>Gender</th>
                    <th>Country</th>
                    <th>DOJ</th>
                    <th>EmailId</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{emp.empId}}</td>
                    <td>{{emp.empName}}</td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.country}}</td>
                    <td>{{emp.doj}}</td>
                    <td>{{emp.emailId}}</td>
                </tr>
            </tbody>

        </table>
       
    </div>


