id:{{person.id}}<br>
name:{{person.name}}<br>
age:{{person.age}}
<pre>
Enter Id  :<input type ="text" name="id" [(ngModel)]="person.id"/>
Enter Name:<input type ="text" name="name"[(ngModel)]="person.name"/>
</pre>
<button (click)="submit()"> Click Me </button>
<h2><u>Address</u></h2>
StreetNo : {{person.address.streetNo}} <br/>
City:      {{person.address.city}} <br/>
State:     {{person.address.state}} <br/><br/>

<h3>HOBBIES</h3>
<ul>
    <li *ngFor="let hobby of person.hobbies">{{hobby}}</li>
</ul><br>
<br>
<button (click)="sucsses()">Toaster</button>