<nav class="navbar navbar-expand-lg position bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" [class.disabled]="loginStatus" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" [class.disabled]="loginStatus"  routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="showemps" routerLinkActive="active">ShowEmployees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="showempbyid" routerLinkActive="active">EmployeeById</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="active">Cart({{cartItems.length}})</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="!loginStatus" routerLink="logout" routerLinkActive="active">Logout</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
<br><br>
<br>
<marquee class="fix">
  <h1>Welcome to Angular Routing...</h1>
</marquee>