
<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
            <div class="card" style="width:250px">
                <img class="card-img-top" src={{product.imgsrc}} alt="Card image"
                    style="width:100%; height: 100%;">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <p><b>Price:</b> ₹{{product.price}}/-</p>
                    <p align="right"><Button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</Button></p>
                </div>
            </div>
        </div>
    </div>
</div>
