
<div class="container" align="center">
  <form class="disign" #loginForm="ngForm" (ngSubmit)="validateLogin(loginForm.value)" novalidate>
    <h3 style="color: black;"><u>Login here</u></h3><br>

    <div class="input-group">
      <span class="input-group-text custom-input"><i class="fa-solid fa-user fa-lg"></i></span>
      <input class="form-control custom-input" type="text" name="emailId" placeholder="Enter Email" #emailId="ngModel" ngModel required minlength="10">

    </div>
    <div class="error-message" *ngIf="emailId.touched">
      <div *ngIf="emailId.errors?.['required']">please Enter Email Id</div>
      <div *ngIf="emailId.errors?.['minlength']">please Enter at least 10 characters</div>
    </div><br>


    <div class="input-group">
      <span class="input-group-text custom-input"><i class="fa-solid fa-key fa-lg"></i></span>
      <input class="form-control custom-input" type="password" name="password" placeholder="Enter Password" #password="ngModel" ngModel required />
    </div>
    <div class="error-message" *ngIf="password.touched">
      <div *ngIf="password.errors?.['required']">Please Enter Password</div>
    </div><br>


    <re-captcha (resolved)="handleCaptchaResolved($event)" siteKey="6LcNlU0oAAAAAI4gB3-8wdoI5OLRqKEW6Be2h-PB"
      size="normal">
    </re-captcha>

    <button [disabled]="!loginForm.valid || !isCaptchaResolved" class="btn btn-primary">Login</button> &nbsp;&nbsp;
    <a href="">Forgot Password</a><br>
    <div style="color: black;">New User? <a routerLink="/register">SignUp</a></div>
  </form>
</div>

