
  .error-message {
    flex: 0; 
    color: red;
    font-size: 12px;
  }
  
  custom-recaptcha{
    width: 10px;
    height: 50px;
  }
  .disign{
    color: white;
    width: 30%;
    padding: 50px 40px;
    border: 2px solid gray;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(1px);
  }
  
  .custom-input{
    border-color: rgb(162, 149, 149);
  }
