<!-- <app-test></app-test><br> 
<app-test2></app-test2><br>

 <app-login></app-login><br> 
 <app-register></app-register> 

 <app-showemployees></app-showemployees>
 <app-showempbyid></app-showempbyid> -->
 
  
<app-header></app-header>

<router-outlet></router-outlet>    
