<h1 align="center">Items in Cart</h1>

<div class="container">
<table class="table table-hover table-striped table-bordered">

    <thead>
        <tr align="center">
            <th class="bg-info text-white">ProductId</th>
            <th class="bg-info text-white">ProductName</th>
            <th class="bg-info text-white">Price</th>
            <th class="bg-info text-white">Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of cartItem" align="center">
            <td>{{product.id   }}</td>
            <td>{{product.name  }}</td>
            <td>{{product.price }}</td>
            <td><button (click)="deleteCartItem(product)"><i class="fa-solid fa-trash fa-lg"></i></button></td>
        </tr>
    </tbody>

</table>
</div>
