<div class="container" align="center">
    <form class="disign" #regForm="ngForm" (ngSubmit)="employeRegister(regForm.value)">
        <h3 style="color: black;"><u>Register here</u></h3><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-id-card fa-lg space"></i></span>
            <select class="form-control custom-input" type="text" name="deptId" ngModel >
                <option value="" selected>Select department</option>
                <option *ngFor="let department of departmentList" value="{{department.deptId}}">{{department.deptName}}</option>
            </select>    
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-pen fa-lg space"></i></span>
            <input class="form-control custom-input" type="text" placeholder="Enter Name" name="empName" required ngModel />
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-indian-rupee-sign fa-lg space"></i></span>
            <input class="form-control custom-input" type="text" placeholder="Enter Salary" name="salary" ngModel />
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-venus-mars fa-lg space"></i></span>
            <div class="form-control custom-input" name="gender" ngModel>
                <div class="form-check form-check-inline">
                    <input class="form-check-input custom-input" type="radio" name="gender" value="Male"
                        [(ngModel)]="employee.gender">
                    <label class="form-check-label" for="maleRadio">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input custom-input" type="radio" name="gender" value="Female"
                        [(ngModel)]="employee.gender">
                    <label class="form-check-label" for="femaleRadio">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input custom-input" type="radio" name="gender" value="Others"
                        [(ngModel)]="employee.gender">
                    <label class="form-check-label" for="othersRadio">Others</label>
                </div>
            </div>
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-regular fa-calendar-days fa-lg"></i></span>
            <input class="form-control custom-input"  type="date" name="doj" ngModel required=""/>
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-globe fa-lg space"></i></span>
            <select class="form-control custom-input" name="country" [(ngModel)]="employee.country" ngModel>
                <option value="">Select Country</option>
                <option *ngFor="let county of coutriesList" value="{{county.cca3}}">{{county.name.common}}</option>
                
            </select>
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-envelope fa-lg space"></i></span>

            <input class="form-control custom-input" type="text" name="emailId" placeholder="Enter Email" #emailId="ngModel" ngModel
                required>
        </div>
        <div>
            <div *ngIf="emailId.touched && emailId.invalid" class="error-text">Please Enter Email</div>
            <div *ngIf="emailId.dirty && !validateMail(emailId.value)" class="error-text">please Enter valid
                email</div>
        </div> <br>

         <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-phone fa-lg space"></i></span>

            <input class="form-control custom-input" type="text" name="mobile" placeholder="Enter Mobile" #mobile="ngModel"
                ngModel required />
        </div>
        <div>
            <div *ngIf="mobile.touched && mobile.invalid" class="error-text">Please Enter the
                number
            </div>
            <div *ngIf="!validateMobile(mobile.value) && mobile.dirty" class="error-text">
                Mobile number must be 10 digits long and Mobile number's first digit cannot be 0, 1, 2, 3,
                4, or
                5</div>
        </div><br> 

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-unlock fa-lg"></i></span>

            <input class="form-control custom-input" type="password" placeholder="Enter password" name="password"
                #passwordInput="ngModel" ngModel [(ngModel)]="employee.password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" />
        </div>
        <div *ngIf="passwordInput.invalid && passwordInput.dirty">
            <div *ngIf="!validatePassword(passwordInput.value)" class="error-text">Password must contain
                at
                least one uppercase letter, one number, and one special character.</div>
        </div><br>

        <div class="input-group">
            <span class="input-group-text custom-width"><i class="fa-solid fa-lock fa-lg space"></i></span>
            <input class="form-control custom-input" type="password" placeholder="Re Enter password" name="Repassword"
                #RepasswordInput="ngModel" ngModel [(ngModel)]="employee.Repassword">
        </div>
        <div *ngIf="RepasswordInput.dirty && employee.Repassword !== employee.password">
            <div class="error-text">
                Please enter the same password.
            </div>
        </div><br>

        <div>
            <button [disabled]="!regForm.valid" type="submit" class="btn btn-primary botton">Register</button>
            <div style="color: black;">
                Already User? <a routerLink="/login">Login</a>
            </div>
        </div>
    </form>
</div><br>
